@import "components/cell";

.chessboard {
  width: 100%;
  border: 20px solid #383838;

  .boardWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .row {
      width: 100%;
      height: 12.5%;

      display: flex;
      flex-direction: row;
      align-items: stretch;

    }
  }
}